<main class="row">
  <div class="col-md-4 link">
    <a href="projects">
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <h3>Projects</h3>
    </a>
  </div>
  <div class="col-md-4 link">
    <a href="#">
      <i class="fa fa-bullhorn" aria-hidden="true"></i>
      <h3>Stuff</h3>
    </a>
  </div>
  <div class="col-md-4 link">
    <a href="https://github.com/tdwilliams7" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i>
      <h3>Github</h3>
    </a>
  </div>
</main>
