<main class="row">
  <div class="col-md-12">
    <div class="row">
      <div class='col-md-4' (click)='setActive($event)'>
        <img src="assets/recipePic.png" id='project1' description='A recipe fetching service that uses HTTP calls to retrieve data from edamam.com.' link='https://stark-harbor-21921.herokuapp.com/'>
      </div>
      <div class='col-md-4' (click)='setActive($event)'>
        <img src="assets/momentumClone.png" id='project2' description='A clone of the Momentum Chrome extension to display current time, weather, and ties into the grocery list app to display items to get today. HTML/CSS, Bootstrap, Angular, HTTP and Location requests for local weather.' link='https://mighty-scrubland-21866.herokuapp.com/'>
      </div>
      <div class='col-md-4' (click)='setActive($event)'>
        <img src="assets/grocListPic.png" id='project3' description='A full stack app to add and remove items to a grocery list and able to select a day to purchase the item to tie in with another app and able to track the cost. Front end made with Angular 1 for interactivity, Backend is node, express, and mongo.
' link='https://intense-castle-22597.herokuapp.com/'>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <img src="{{ activeProject.img }}">
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4>{{ activeProject.description }}</h4>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <a href="{{ activeProject.link }}" target='_blank' class='btn btn-primary'>Live Project</a>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</main>
