<main class="row">
  <div class="col-md-12">
    <div class="row">
      <span class="col-md-4">
        <a href="https://mighty-scrubland-21866.herokuapp.com/"><img src="assets/momentumClone.png" alt=""></a>
      </span>
      <span class="col-md-8 descrip">
        <p>
          Static Clone of seriouseats.com. Made with HTML/CSS, Bootstrap, and React. Tried to mimic as much as possible.
          Links do take you to that site.
        </p>
      </span>
    </div>
    <div class="row">
      <span class="col-md-8 descrip">
        A recipe fetching service that uses HTTP calls to retrieve data from edamam.com.
        2 parter. 1 made with AngularJS(1.XX) and the other made with Angular. (I like how easy some of the function calls are in angular 1
        but I like the structure and separation in Angular 5)
        Both shared the same MongoDB hosted on mlab.com.
        A simple Express server lets you save a recipe and get it it later.
        HTML/CSS, Bootstrap, Angular, Express, Node, MongoDB
      </span>
      <span class="col-md-4">
        <a href="https://stark-harbor-21921.herokuapp.com/" target="_blank"><img src="assets/recipePic.png" alt=""></a>
      </span>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="https://intense-castle-22597.herokuapp.com/" target="_blank"><img src="assets/grocListPic.png" alt=""></a>
      </div>
      <div class="col-md-8 descrip">
        <p>MEAN CRUD app to help track spending.</p>
      </div>
    </div>
  </div>
</main>
