<div class="row" id='headBackground'>
  <div class="row" id='body'>
    <div class="col-md-6 center-block">
      <img class='img-fluid' src="../assets/profilepic.jpg" alt="Profile Pic" id="profilePic">
    </div>
    <div class="col-md-6 text">
      <h2>Hey, I am Troy.</h2>
      <h3>Moderately Cool Dude.</h3>
      <h3>Making Some Cool Stuff*.</h3>
      <h3>Really Enjoy Angular.</h3>
      <h4>Current Student at Lambda School.</h4>
      <p>*stuff not guaranteed to be cool</p>
    </div>
  </div>
</div>
<app-links></app-links>
<app-bloglinks></app-bloglinks>
