main {
  min-height: 25vh;
  margin: auto;
  text-align: center;
  align-content: center;
  align-items: center;
}
button{
  background-color: white;
  transition: background-color 0.5s ease;
  border-width: 2px;
  border-color: #648c98;
}
button:hover{
  background-color: #AE5800;
  border-width: 2px;
  border-color: #648c98;
  color: white;
}
